body{
    color: #1E1F23;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #EAE7D6;
}

.logo img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #EAE7D6;
}

a:hover{
    color: #9a978b;
}

header{
    position: relative;
}

.navbar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #1E1F23;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
}

.navbar .links{
    font-size: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar .toggle_btn{
    color: #EAE7D6;
    cursor: pointer;
    display: none;
    padding: 5%;
    font-size: 150%;
}

/*dropdown menu*/
.dropdown_menu{
    font-size: 100%;
    position: absolute;
    right: 2rem;
    height: 0;
    background: rgba(0.5, 0, 0, 0.5);
    backdrop-filter: blur(3px) ;
    border-radius: 10px;
    display: none;
    overflow: hidden;
    transition: height .6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown_menu li a .language{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
}

.dropdown_menu.open{
    height: 165%;
}

.dropdown_menu li a .language{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11%;
  }
  
  .language img {
    max-width: 40%; /* Set the maximum width to 100% */
  }
  
  .language {
    margin-right: 10px;
    display: inline-block;
    line-height: 0; /* Add this line to remove extra spacing */
  }

.container{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.container .article{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 3%;
    width: 80%;
    background-color: #fffdf4;
}

/*radio buttons*/
:focus {
    outline: 0;
    border-color: #2260ff;
  }
  
  .radio-section div {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .radio-section input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .radio-section input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
  }
  
  label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
/*radio buttons end*/


/*table styling*/
.gymplan {
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
}

.gymplan th,
.gymplan td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.gymplan th {
    background-color: #f2f2f2;
}

.gymplan tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.table-container{
    display: none;
}

.table-container.show{
    display: block;
}
/*table styling end*/

@media (max-width: 820px) {
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    
    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }
}

@media (max-width: 630px){
    .container .article .days{
        display: flex;
        justify-content: space-between;
        border: 1px black solid;
        border-radius: 1rem;
        padding: 5%;
        display: none;
    }

    .container .article .daysSmall{
        display: flex;
        justify-content: space-between;
        border: 1px black solid;
        border-radius: 1rem;
        padding: 5%;
    }

    .radio-section div {
        padding: 3%;
        flex-direction: column;
        display: flex;
        margin-top: 0.5rem;
        justify-content: center;
        border-radius: .375em;
      }

      label:first-child span {
        border-radius: .375em;
      }

      label span {
        border-radius: .375em;
      }
      
      label:last-child span {
        border-radius:.375em;
    }
}

@media (max-width: 576px){
    .gymplan {
        font-size: 80%;
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 5px 5px 0 0;
    }

    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .content .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content .card img{
        width: 100%;
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 750px) {
    .content .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content .card img{
        border-radius: 1rem;
    }
}
